base.dir={{sphinx_base_path}}/
service.dir=/etc/init.d/
os.user={{sw_user}}
sudo.path={{sudo_path}}
service.path={{service_path}}
indexer.processname = indexer
indexer.work.dir = {{sphinx_binaries_path}}/
fetch.size = 100
connection.timeout.ms = 2000
agent.info.parallel = true