Ext.define('sphinx-console.util.Utilities', {
    singleton: true,
    SERVER_URL: 'http://{{webapp_host}}:{{webapp_forwarded_port}}/sphinx-console-coordinator/rest/coordinator',
    SERVER_TASK_INTERVAL: 5000,
    QUERY_LOG_TAB_ENABLED: true,
    DEBUG: false
});